
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', 'sans-serif';
}

h2 {
  border: solid;
}

html {
  background: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-size: 6em;
  text-align: center;
  /* position: relative; */
  /* overflow: hidden; */
}
h2 span {
  display: inline-flex;
  /* display: inline-block; */
  position: relative;
  color: #03a0f4;

}

h2 span:nth-of-type(odd) {
  color: #414141;
  letter-spacing: -1em;
  line-height: 1em;
  border: solid red;
  overflow: hidden;
}
h2:hover span:nth-of-type(odd) {
  transition: all .3s ease-in-out;
  letter-spacing: initial;
  /* overflow: initial; */
}
h2 span:nth-child(2) {
  margin-right: 10px;
}

h2 span:nth-child(2):after {
  content: '2';
  position: absolute;
  left: 40px;
  bottom: 0px;
  font-size: .3em;
}

h2 i {
  position: absolute;
  border: blue solid;
  transform: translateX(-50%);
  font-size: 18px;
  color: #777;
  font-weight: 400;
  font-style: initial;
  line-height: 1em;
  /* bottom: -4em; */
}

h2 i::before {
  content: 'Oxygen';
  position: absolute;
  text-align: center;
  border: solid;
  width: 100%;  
  transition: all .4s ease-in-out;

  /* overflow: hidden; */
}

h2:hover i::before {
  letter-spacing: 2em;
  opacity: 0;
}

h2 i::after {
  content: 'Helping India Breathe Again';
  /* position: static; */
  border: solid;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

h2:hover i::after {
  visibility: visible;
  opacity: 1;
}