*,
*::after,
*::before 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(9, 141, 130);
  scroll-behavior: smooth;
}


.container {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3),
              inset 2px 2px 5px rgba(255, 255, 255, 0.3),
              4px 10px 30px rgba(0, 0, 0, .4),
              inset -2px -2px 5px rgba(0, 0, 0, .4);
}
.container h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #1F9Cff;
}

.container .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding-right: 10px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3),
  inset 2px 2px 5px rgba(255, 255, 255, 0.3),
  4px 10px 30px rgba(0, 0, 0, .4),
  inset -2px -2px 5px rgba(0, 0, 0, .4);
  transition: all .4s ease;
}
.container:hover .skills {
  filter: blur(1px);
  opacity: 0.5;
}
.container .skills:hover {
  filter: blur(0);
  opacity: 1;
}
.container .skills h3 {
  min-width: 180px;
  text-align: right;
  padding-right: 20px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 2px;
}

.container .skills .rating {
  /* position: relative; */
  display: flex;
  margin: 10px 0;
  border: solid;
  flex-direction: row-reverse;
}

.container .skills .rating input {
  position: relative;
  width: 20px;
  height: 40px;
  /* border: solid 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.container .skills .rating input::before {
  content: '\f005';
  font-family: fontawesome;
  /* border: solid; */
  font-size: 30px;
  position: absolute;
  left: 7px;
  color: #030b0f;
  transition: all .3s ease-in-out;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4); */
}
.container .skills .rating input:nth-of-type(2n + 1)::before {
  /* color: #fff; */
  right: 6px;
  left: initial; 
  /* opacity: .1; */
  clip-path: inset(0 0 0 50%);
  z-index: 1;
  display: inline-block;
  box-shadow: 10px 10px 10px 40px rgba(0, 0, 0, .4);
  /* font-size: 31px; */
}

.container .skills .rating input:hover ~ input::before,
.container .skills .rating input:hover::before,
.container .skills .rating input:checked ~ input::before,
.container .skills .rating input:checked::before {
  color: #1f9cff;
}