*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #232c33;
}

.navigation {
  /* border: solid; */
  position: relative;
  min-height: 500px;
  width: 70px;
  background: #2b343b;
  box-shadow: 10px 0 0#4187f6;
  overflow-x: hidden;
  transition: width .5s ease;
  padding-left: 10px;
}
.navigation:hover {
  width: 300px;
}
.navigation ul {
  /* position: absolute; */
  top: 0;
  left: 0;
  /* border: solid; */
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.list0 {
  /* border: solid; */
  position: relative;
  list-style: none;
  border-radius: 20px 0 0 20px;
  /* width: 100%; */
}

b {
  position: absolute;
  height: 20px;
  width: 100%;
  background: #4187f6;
  left: 0;
  display: none;
}
b:nth-child(1) {
  top: -20px;
}
b:nth-child(2) {
  bottom: -20px;
}
b::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #2b343b;
}
b:nth-child(1)::before {
  border-radius: 0 0 20px 0;
}
b:nth-child(2)::before {
  border-radius: 0 20px 0 0;
}
.list0.active {
  background: #4187f6;
}
.list0.active ion-icon {
  font-size: 2rem;
  font-weight: 900;
}
.list0.active .title {
  font-weight: 900;
}
.list0.active b {
  display: block;
}
.list0 a {
  /* position: relative; */
  /* display: block; */
  /* border: solid; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 20px 0;
}
.list0 a .icon {
  /* position: relative; */
  display: block;
  /* border: solid; */
  min-width: 60px;
  /* height: 60px; */
  /* line-height: 1; */
  text-align: center;
}

ion-icon {
  /* position: relative; */
  /* z-index: 1; */
  /* border: solid; */
  font-size: 1.5rem;

}
.title {
  /* border: solid; */
  white-space: nowrap;
  padding-left: 10px;
}



