@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #161623, rgba(0, 0, 0, 0.4));
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(40% at right 70%);
    
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(40% at left 10%);
    
}


.container {
    border: solid;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    min-height: 60vh;
    flex-wrap: wrap;
    /* background: linear-gradient(to right top, rgba(51, 255, 223, 0.2), rgba(51, 255, 223, 0.4));
    backdrop-filter: blur(2rem);
    border-radius: 2rem; */

}

.container .card {
    /* border: solid; */
    width: 300px;
    min-height: 50vh;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-items: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2rem);
    position: relative;
    /* border: solid red; */
}

.card .content {
    /* border: solid; */
    padding: 20px;
    text-align: center;
    transition: all 0.5s ease;
    margin-top: 15%;
    transform: translateY(100px);
    opacity: 0;
}

.card:hover .content {
    opacity: 1;
    transform: translateY(0);
    
}


.content h2 {
    /* border-bottom:10px solid; */
    /* transform: scale(0.3);
    font-size: 90px;
    border: solid;
    clip-path: circle(30% at 50% 50%);
    */
   position: absolute;
   top: -100px;
   left: 50%;
   transform: translateX(-50%);
   font-size: 7em;
   /* border: solid; */
   color: rgba(255, 255, 255, 0.09);
   pointer-events: none;
   

} 

.content h3 {
    /* border: solid; */
    font-size: 1.8em;
    color: #fff;
    
}

.content p {
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}

.content a {
    text-decoration: none;
    /* border:solid; */
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    display: inline-block;
    padding: 5% 20%;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.4);
    color: #000;
    border-radius: 1rem;
    font-weight: 500;
    /* pointer-events: none; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: anim 1s infinite;
    /* transition:background-color 1s ease-in-out 0s; */
    /* transition: all .6s ease; */
    /* transition:all 1s ease-in-out 0s; */
   
}
.content a:hover {
    animation: none;
    background: #fff;
    color: #000;
}

@keyframes anim {
    0% {
        background: linear-gradient(to right bottom, #4679CC, #46B7CC );
    }
    25% {
        background: linear-gradient(to right bottom, #46CC5B, #198C2A );

    }
    50%{
        background: linear-gradient(to right bottom, #8C8A19, #DF6613 );

    }
    75%{
        background: linear-gradient(to right bottom, #A04F18, #46B7CC );

    }
    100%{
        background: linear-gradient(to right bottom, #A018A0, #46B7CC );

    }
}
