*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}
 .scene {
   height: 100vh;
   position: relative;
  background: linear-gradient( #a6d8ff, #fff, #fff);

 }
.dark .scene {
  background: #333;
  
}
 .sun {
   position: absolute;
   top: 100px;
   left: 55%;
   transform: translateX(-50%);
   width: 100px;
   height: 100px;
   background: #fff;
   border-radius: 50%;
   box-shadow: 0 0 50px #fff;
   cursor: pointer;
   transition: all .2s ease;
 }
 .dark .sun {
  left: 45%;
  /* box-shadow: inset 0 0 0 20px #fff, 0 0 50px #fff; */
  /* background: #333; */
  /* filter: invert(1); */
  box-shadow: none;
 }
 .dark .sun::before {
   content: '';
   position: absolute;
   top: -20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 50%;
 }

 .bg {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 250px ;
   background: url(./img/bg.png);
   background-size: 1500px 100%;
   /* background-position: cenkter; */
   background-repeat: repeat-x;
   border: solid;
   overflow: hidden;
   animation-name: animateBg;
   animation-duration: 25s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
 }

 .car {
   width: 100px;
   position: absolute;
  bottom: 25px;
 }
 .car1 {
   left: -100px;
   animation-name: car1;
   animation-duration: 18s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   /* transform: translateX(1100px) */
 }

 
 .car2 {
  right: -100px;
  bottom: 5px;
  animation-name: car2;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* transform: translateX(1100px) */
}

@keyframes car1 {
  0%{
    transform: translateX(0);
  }
  90%, 100%{
    transform: translateX(calc(100vw + 100px));
  }
 }
@keyframes car2 {
 0%{
   transform: translateX(0)  rotateY(180deg);
 }
 90%, 100%{
   transform: translateX( calc(-100vw -  100px)) rotateY(180deg);
 }
}

@keyframes animateBg {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}


@media (min-width: 1500px) {
  .bg {
    background-size: 3000px 100%;
  }
}