/* @import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"); */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: fontawesome;

  color: #485474;
}

html {
  background: #fff;
}

body {
  background: #92bde7;
  /* font-family: 'Segoe UI'; */
  line-height: 1.6;
  padding: 1em;
  /* display:flex;
  justify-content: center; */
}

.container {
  /* flex-grow: 1; */
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  padding: 1em;
}

ul {
  list-style: none;
}
.container h1 {
}

.brand span {
  color: #fff; 
}
.wrapper {
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  /* padding: 1em; */
  position: relative;
  z-index: 0;
  /* border: solid red; */
  overflow: hidden;
}
.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
  transform: skew(-40deg, 10deg);
  transition: all .5s ease;
}
.wrapper:focus-within::before {
  transform: skew(40deg, -10deg);
  background: rgba(139, 241, 156, 0.8);
}


.wrapper > * {
  padding: 1em;
}

.company-info {
  background: rgba(200, 200, 255, 0.7);
  position: relative;
  text-align: center;
}
.company-info::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -20px;
  left: 0;
  background: linear-gradient(to bottom, rgba(200, 200, 255, 0.7), transparent);
}
.company-info :is(h3, ul) {
  /* display: inline-block; */
  /* border: solid; */
  margin-bottom: 10px;
}

.contact {
  /* border: solid; */
}

/* Form Styles */
.contact form {
   
}
.contact form .element {
  margin-bottom: 10px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr) */
}
.contact .submit {
  /* text-align: center; */
  /* margin: 0 auto; */
  /* max-width: 125px; */
  position: relative;
  z-index: 0;
  display: grid;
  place-items: center;
}
.contact button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgba(253, 240, 58, 0.5); 
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 900;
  width: 100%;
  text-transform: uppercase;
}
.contact .submit .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 1.3rem solid;
  border-color: transparent transparent transparent var(--color);
  top: 0;
  /* left: var(--i); */
  transform: translateX(var(--i));
  z-index: -1;
  transition: all 1s ease;
  opacity: 0;
}
.contact .submit:hover .arrow {
  animation-name: anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* opacity: 0; */
}

.contact :is(input, textarea) {
  padding: 10px 15px;
  border: none;
   background: transparent;
  border-bottom: 1px solid;
  outline: none;
}
.contact div {
  position: relative;
  /* border: solid; */
}
.contact .line {
  position: absolute;
  width: 100%;
  height: 3px;
  border: none;
  background: red;
  bottom: -1px;
  transform-origin: left;
  transform: scale(0, 1);
  transition: transform .5s ease; 
}
.contact :is(input, textarea):focus + .line {
   transform: scale(1, 1);
}

@keyframes anim {
  0% {
    opacity: 0;
    /* transform: translate(-100%); */
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(calc(var(--i) + 100%));
  }
}

@media (min-width: 900px) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .submit {
    align-self: center;
    grid-column: 1 / -1;
  }


}

@media (min-width: 1300px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr
  }
  .element.full {
    /* border: solid; */
    grid-column: 1 / -1;
  }
  .company-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .company-info::before {
    width: 20px;
    height: 100%;
    right: -20px;
    left: initial;
    bottom: initial;
    background: linear-gradient(to right, rgba(200, 200, 255, 0.7), transparent);
    /* background: red; */
    }
}

