*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e557c;
  flex-direction: column;
  /* transition: all .5s linear; */
}

body::before {
  content: '';
  position: absolute;
  /* border: solid red; */
  inset: 0 auto auto 0;
  width: 100%;
  height: 100%;
  background: #30bfa5;
  clip-path: circle(300px at center);
 
}


.container {
  /* border: solid; */
  position: relative;
  width: 1100px;
  height: 400px; 
  z-index: 0;
  transition: all .5s  linear;
}
.container .card {
  position: absolute;
  inset: calc(50% - 200px) auto auto 50%;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  transform: translateX(-50%) translateY( calc( 50px * var(--i) ) ) 
             rotate(40deg) skew(-20deg, -10deg) scale(.6);
  box-shadow: 25px 25px 100px rgba(0, 0, 0, 0.2);
  z-index: calc(-1 * var(--i)); 
  /* border: solid; */
  transition: all .5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card:nth-of-type(2) {
  opacity: 0.8;
}
.container .card:nth-of-type(3) {
  opacity: 0.6;
}
.container:hover .card {
  /* transform: initial; */
  /* position: static; */
  /* animation-name: animCard;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; */


  /* position: absolute; */
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 1;
  transform: translateX( calc(-50% + 310px * var(--i)) ) translateY( -50% ) 
             rotate(0deg) skew(0deg, 0deg) scale(1);
}
.container:hover {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* animation-name: animContainer;
  animation-duration: 4s;
  animation-fill-mode: forwards; */
}

.card .content {
  /* position: relative; */
  padding: 25px;
  opacity: 0;
  transform: translateY(100px);
}

.container:hover .card .content {
  transition: all .5s calc( .3s * var(--j) );
  opacity: 1;
  transform: translateY(0);
}



@media (max-width: 950px) {
      .container {
        width: 100%;
        /* min-height */
        height: 100%;
        /* height: initial; */
      }
      .container:hover .card{
        position: static;
        transform: initial;
      }  
      .container:hover {
        display: flex;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        /* grid-auto-flow: ; */
      }
}

@media (max-width: 600px) {

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    grid-gap: 10px;
    pointer-events: none;

  }
  .container .card .content {
    opacity: 1;
    transform: initial;

  }

  .body .container .card {
    opacity: 1;
    position: static;
    transform: initial;
  }
}

@keyframes animContainer {
  0% {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    opacity: 0;

  }
  50% {
    opacity: .3
  }
  100% {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    /* opacity: 0; */
  }
}
@keyframes animCard {
  0% {
    /* transform: initial; */
  }
  50% {
    /* posititon: initial; */
  }
  100% {
    transform: initial;
    position: static;
  }
}




