*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background: #fff;
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  background: #001923;
  z-index: 0;
}

section::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #66d, #ac6412);
  transform: translate(-200px, -200px);
  z-index: -1;
}

section::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, rgb(180, 13, 105), #ac6412);
  transform: translate(100px, 200px);
  z-index: -1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  /* height: 80vh; */
  background: rgba(255, 255, 255, 0.3);
  padding: 50px;
  backdrop-filter: blur(20px);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  /* overflow-y: auto;
  overflow-x: hidden; */
  overflow: hidden;
  z-index: 0;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  z-index: -1;
  /* pointer-events: none; */
  transform: skewX(-25deg);
}

.container h2 {
  /* border: solid; */
  color: #000;
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

.container .row100 {
  /* margin-top: 30px; */
  /* position: relative; */
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container .row100 .col {
  position: relative;
  /* width: 100%; */
  padding: 0 10px;
  margin: 30px 0 20px;
  /* border: solid; */
  /* background: rgba(0, 0, 0, 0.2); */
}

.container .row100 .col .inputBox {
  position: relative;
  /* width: 100%; */
  padding: 15px 0;
  /* height: 40px; */
  /* border: red solid; */
  z-index: 0;
  /* transform: scale(1) */
}
.container .col .inputBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 0, 0.09);
  z-index: -2;
  transition: width 0.5s ease;
}
.container .col .inputBox::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 0, 0.1);
  z-index: -2;
  transition: width 0.5s ease;
}
.container .col .inputBox:focus-within::after,
.container .col .inputBox:focus-within::before {
  width: 0;
}
.container .row100 .col .inputBox :is(input, textarea) {
  outline: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  font-size: 1.2em;
  padding: 0 10px;
  color: #000;
  border: none;
  
}
.container .row100 .col .inputBox .text {
  position: absolute;
  left: 0;
  /* top: -50%; */
  top: 0;
  /* line-height: 40px; */
  padding: 0 10px;
  transition: all 0.5s ease-in-out;
  /* pointer-events: none; */
  z-index: -1;
  /* border: solid blue; */
  color: #fff;

}
.container .row100 .col .inputBox :is(input, textarea):valid + .text,
.container .row100 .col .inputBox :is(input, textarea):focus + .text {
  transform: translateY(-130%);
  left: -10px;
}


.container .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  /* display: block; */
  width: 100%;
  height: 2px;
  /* border: green solid; */
  background: #fff;
  transition: all .5s .3S ease-in-out;
  /* border-radius: 2px; */
  /* pointer-events: none; */
  /* transform: scale(0);
  transform-origin: left; */
  z-index: -1;
}



.container .row100 .col .inputBox:focus-within .line,
.container .row100 .col .inputBox input:valid ~ .line  {
  height: 100%;
}

.container .row100 .col .textarea {
  /* position: relative; */
  height: 100px;
  width: 100%;
  /* padding: 1px 0; */
  /* border: green solid; */
}

.container .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}

.container .row100 .col  input[type="submit"] {
  border: none;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
  background: #fff; 
  color: #000;
  font-weight: 600;
  /* font-size: 1.2em; */
  border-radius: 0px 5px 5px 0;
  transition: letter-spacing .4s ease-in-out;
}
.container .row100 .col input[type="submit"]:hover {
  letter-spacing: .5em;
}

@media (max-width: 700px) {
  .container {
    padding: 20px;
  }
  .container h2 {
    font-size: 2em;
  }
}

/* 13 */
