*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-family: consolas, sans-serif;
}

.container {
  position: relative;
  width: 450px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  z-index: 0;
  display: grid;
  place-items: center;
  padding: 40px 50px;
  border-radius: 10px;
  /* overflow: hidden; */
}

.container::before {
  content: '';
  position: absolute;
  inset: 0 auto auto 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* pointer-events: none; */
  z-index: -1;
  transition: all .5s ease;
}
.container::after {
  content: '';
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #ff0047, #fff);
  z-index: -2;
  animation-name: animate;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-direction:  */

}
@keyframes animate {
  0% {
    filter: blur(60px) hue-rotate(0deg);
  }
  100% {
    filter: blur(60px) hue-rotate(360deg);
  }
}

.form {
  /* position: absolute; */
  /* inset: 0; */
  padding: 40px;
  min-width: 350px;
  /* width:  */
  /* z-index: 1; */
  /* border: solid #fff; */
  box-shadow: 0 0 5px 3px #fff, 0 0 5px 5px blue, 0 0 5px 8px red,
    0 0 5px 11px green;
}
.container:focus-within::before{
  right: 0;
  left: 50%;
  /* background: red; */
}

.form h2 {
  color: #fff;
  font-size: 1.4rem;
}
.form .inputBox {
  /* border: solid; */
  margin-top: 20px;
}
.inputBox:not(:last-of-type) input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  font-size: 1rem;
  color: #fff;
  padding: 5px 0;
  font-family: consolas;
}

.inputBox input[type='submit'] {
  border: none;
  padding: 5px 30px;
  /* font-size: 1rem; */
  font-weight: 600;
  cursor: pointer;
}

::placeholder {
  color: #eee;
  font-weight: 800;
}

.form  form p {
  font-size: .8rem;
  color: #fff;
  margin-top: 20px;
  font-weight: 800;

}
form p a {
  color: #fff;
}
