*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  transition: background .5s ease-in-out;
}

.content {
  border: solid;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
  padding: 10px 0px;
  position: relative;
  z-index: 0;
}
.box {
  border: solid;
  width: 200px;
  position: relative;
}
.select {
  /* border: solid blue; */
  width: 100%; 
  padding: 10px; 
  outline: none;
  border: none;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .5);
  
}
.arrowdown {
  /* border: solid; */
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 2rem;
}

.bg {
  position: absolute;
  font-weight: 900;
  font-size: 10rem;
  z-index: -1;
  color: rgba(0, 0, 0, 0.1);
  border: solid;
  margin-bottom: 3rem;
}