
:root {
    /*========== Colors ==========*/
    --first-color: #4D49BF;
    --second-color: #05DBF2;
    --body-color: #DFE9F2;
    --title-color: #1C1C22;
    --text-color: #58576B;
  
    /*========== Font and typography ==========*/
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: .938rem;
    --h3-font-size: 1.125rem;
    --small-font-size: .75rem;
  }




  body {
      /* overflow:scroll; */
      margin: 0;
      padding: 0;
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
  }

  h3 {
      margin: 0;
  }
  a {
      text-decoration: none;
  }
  img {
      max-width: 100%;
      height: auto;
  }

   .bd-container {
       max-width: 968px;
       width: calc(100% - 3rem);
       border: solid;
       margin-left: 1.5rem;
       margin-right: 1.5rem;
   }
   .card {
       min-height: 100vh;
       position: relative;
       overflow: hidden;
       padding: 3rem;
       background-color: var(--body-color);
       
   }

   .card__container {
      
        display: grid;
        gap: 1.5rem;
        position: relative;
   }

   .card__glass {
       overflow: hidden;
       position: relative;
       text-align: center;
       padding: 2.5rem;
       background: linear-gradient(130deg, rgba(251, 251, 254, .6), rgba(251, 251, 251, .2));
       box-shadow: 2px 2px 1px rgba(251, 251, 254, .3),
                    -2px -2px 1px rgba(251, 251, 254, .2);
       border-radius: 1.5rem;
       cursor: pointer;
       backdrop-filter: blur(10px);
   }

   .card__img {
       width: 80px;
       height: 80px;
       border-radius: 50%;
       border: 2px solid #F4F4FB;
       margin-bottom: 1rem;
   }

   .card__data {
       margin-bottom: 1.5rem;
   }

   .card__title {
       font-size: var(--h3-font-size);
       color: var(--title-color);
       font-weight: 600;
       margin-bottom: .25rem;
   }

   .card__profession {
       font-size: var(--small-font-size);
       color: var(--text-color);
       font-weight: 500;
   }
   .card__button {
       display: inline-block;
       background: transparent;
       box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); 
       padding: 0.75rem 1.5rem;
       border-radius: .5rem;
       color: var(--title-color);
       font-weight: 500;
       transition: all .4s ease;
   }

   .card__button:hover {
    background: linear-gradient(130deg, rgba(251, 251, 254, 1), rgba(251, 251, 251, .2));

   }

   .card__social {
       position: absolute;
       top: 50%;
       left: 5%;
       transform: translateY(-50%); 
       border:solid red;
   }

   .card__link {
       border: solid;
       display: block;
       font-size: 1.35rem;
       color: var(--title-color);
       margin: 1rem 0;
       transform: translateX(-20rem); 
   }

   .card__link:nth-child(1) {
    transition: transform .1s ease;
   }
   
   .card__link:nth-child(2) {
    transition: transform .3s ease;
   }
   
   .card__link:nth-child(3) {
    transition: transform .5s ease;
   }
   .card__glass:hover .card__link {
       transform: translateX(0);
   }
   .card__link:hover{
       opacity: 0.5;
   }

   .card__circle {
       position: absolute;
       border-radius: 50%;
       width: 250px;
       height: 250px;
       background: linear-gradient(130deg, rgba(77, 73, 191, .8), rgba(19, 105, 45, 0.2));
   }

   .card__circle1 {
       top: 0%;
       left: 0%;
   }

   .card__circle2 {
       bottom: 0%;
       right: 0%;
       background: linear-gradient(130deg, rgba(54, 143, 113, 0.8), rgba(132, 236, 163, 0.2));


   }

   @media screen and (min-width: 968px) {
    :root {
      --normal-font-size: 1rem;
      --h3-font-size: 1.25rem;
      --small-font-size: .813rem;
      --body-color: red;
    }
    .card {
    }
    .card__container {
        min-height: 80vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* transition: all .4s ease; */
        align-items: center;
        background: rgba(251, 251, 254, .3);
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        
    }
  }

  @media screen and (min-width: 568px ) and (max-width: 968px){
      :root {
      
      --body-color: green;
      }

      .card__container {
        /* grid-template-columns: repeat(2, 1fr); */
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transition: all .4s ease;

      }
    
  }