*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

html {
  background: #fff;
}

body {
  scroll-behavior: smooth;
  /* visibility: hidden; */
}

.container {
  /* border-top: solid 1px; */
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  /* border: solid; */
  /* background: black; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: solid red 4px; */
  /* background: black; */
  background: url(./img/bg1.png);
  background-attachment: fixed;
}
.container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* z-index: -1;  */
  
}
.container::before {
  content: '';
  position: absolute;
  height: 300px;
  width: 100%;
  background: linear-gradient(to top, rgb(11, 18, 78), rgba(11, 18, 78, 0));
  bottom: 0;
  z-index: 999;
}

nav {
  position: absolute;
  display: flex;
  padding:3rem 10rem;
  width: 100%;
  border: solid;
  justify-content: space-between; 
  z-index: 99;
}


.main-title {
  position: absolute;
  z-index: 99;
  top: 30%; 
  left: 50%;
   transform: translate(-50%, -50%);
  /* margin-bottom: 200px; */
  font-size: 6rem;
}

.content {
  position: absolute;
  /* top: 0; */
  width: 100%;
  /* padding: 4rem; */
  background: rgb(11, 18, 78);
  min-height: 100vh;
  /* border: solid 4px red; */
  z-index: 9999;
}

.content::before {
  content: '';
  position: absolute;
  top: -100px;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, rgb(11, 18, 78), rgba(11, 18, 78, 0));
  top: -100px;
  /* z-index: 999; */
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  opacity: 0;

}






.content-images img {
  width: 100%;
  border: solid;
  /* height: 100%; */
}



.text {
  padding: 2rem 5rem;
}

nav h4 {
  color: red;

}



/* .content .content-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10em;
}
.content .content-images img {
  width: 100%;
   height: 100%; 
  object-fit: cover; 
  border-radius: 10px;
} */



/* https://www.youtube.com/watch?v=Nt70Ld0dJCM&ab_channel=DevEd  13 */

/* 
section {
  border: solid red;
  min-height: 100vh;

}

section nav {
  position: absolute;

}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgb(19, 11, 56), rgba(19, 11, 56, 0));
  bottom: 0;
  z-index: 999;
  
}
.container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container .main-title {
  position: absolute;
  z-index: 999;
}


section .content {
  min-height: 100vh;
  background: rgb(19, 11, 56);
  padding: 100px;
} */
