*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

html {
  background: #fff;
}

body {
  background: #000;
  cursor: context-menu;
}

section {
  padding: 40px;
  color: #666;
}

section h2 {
  font-size: 3.5em;
}

section p {
  font-size: 1.2em;
}

.cursorMeter {
color: #666;
position: fixed;
width: 400px;
height: 80px;
top: 0;
/* background: #ff0; */
pointer-events: none;
/* z-index:  */
}
.scrollPath {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #f00;
  /* transform: translate(-50%, -50%); */
}
.progressBar {
  /* position: absolute; */
  /* top: 0;
  left: 0;
  height: 100%;
  width: 100%; */
  height: 100%;
  background: linear-gradient(to left, #008aff, #00ffe7);
  animation-name: animate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.progressBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  filter: blur(10px)
}
.progressBar::after {
content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  filter: blur(30px)
}
.percent {
  /* position: absolute; */
  /* top: 30px; */
  /* left: 0; */
  margin-top: 30px;
  width: max-content;
  color: #333;
  font-size: 1.2rem;
  padding: 2px 5px;
  background: #fff;
}




@keyframes animate {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}