
body {
    /* overflow: hidden; */
    margin: 0;

}

header {
    /* background-image: linear-gradient(to left,rgba(0, 0, 0,  0.5), rgba(0,0,0,0.8)), url("https://previews.123rf.com/images/ankamonika/ankamonika1804/ankamonika180400049/99123364-sunbeds-and-palm-tree-umbrellas-on-a-background-of-exotic-palm-trees-maldives.jpg"); */
    min-height: 60vh;
    /* background-size: contain; */
    /* background-size: cover; */
    /* background-position: center; */
    max-width: 900px;
}




ul {
    /* float: right; */
    /* list-style: none; */
    /* border: solid red; */
    /* display: flex; */
    /* width: 50%; */
    /* justify-content: space-between; */
    /* margin-top: 25px; */
}



ul li {
    /* display: inline-block; */
}
ul li a {
    /* text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: all .3s ease; */
}

ul li:hover a {
    /* background: #fff;
    color: black; */
}

.logo img {
    /* width: 200px; */
    /* float: left; */
    /* height: auto; */
}
    
.main {
    /* max-width: 1000px; */
    /* border: solid; */
    /* margin: auto; */
}

ul li.active a {
    /* background: #fff;
    color: #000;     */
}

.title {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    border: solid;
    height: 20%; */

}

.transition-fade {
    /* opacity: 1;
    transition: all 0.3s; */
    /* transform: rotate(-190deg); */
    /* transform-origin: right; */
}

/*  quand on click, quand l'animation commence, il est générale*/
html.is-animating .transition-fade {
    /* opacity: 0;
    transform: translateX(100px); */
}

html.is-rendering .transition-fade  {
    /* transform: translateY(-100vh); */
    /* transform: rotate(90deg); */
}

.button {
    border: solid red;
    /* position: absolute; */
    height: 80%;
    /* padding-top: 20%; */
   

}

.btn {
    /* border: solid; */
}