*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 8em;
  /* border: solid; */
  text-align: center;
}

h2 span:nth-child(odd) {
  letter-spacing: -1em;
  /* border: solid red; */
  /* position: relative; */
  display: inline-flex;
  overflow: hidden;
  transition: all .4s ease-out;
  text-align: left;
}

h2:hover span:nth-child(odd) {
  letter-spacing: initial;
}

h2 span:nth-of-type(2) {
  color: lightseagreen;
  /* border: solid; */
  position: relative;
  margin-right: 10px;
}
h2 span:nth-of-type(2):after {
  content: '2';
  position: absolute;
  font-size: .5em;
  /* border: solid; */
  line-height: .8;
  bottom: 0;
}
h2 i {
  position: absolute;
  /* border: solid blue; */
  transform: translateX(-50%);
  /* margin-left: auto; */
  line-height: 1em;
  font-style: initial;
  font-size: 100px;
  width: 100%;
  /* line-height: 1; */
}

h2 i:before {
  content: 'Oxygen';
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  /* border: solid; */
  /* right: 0; */
  width: 100%;
  left: 0;
  /* font-size: .3em; */
  transition: all .5s ease-out;
}
h2:hover i:before {
  letter-spacing: 2em;
  opacity: 0;
}
h2 i:after {
  content: 'Helping Morroco breath again';
  /* font-size: .3em; */
  /* border: solid red; */
  /* line-height: .8; */
  opacity: 0;
}
h2:hover i:after {
  transition: all .6s ease-out;
  opacity: 1;
}