*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}

section {
  min-height: 100vh;
  /* width: 100%; */
  background: url(./bg2.jpg);
  background-size: cover;
  /* background-position: center; */
}



.menu {
  position: absolute;
  width: 100%;
  border: solid #fff;
  background: rgba(255, 255, 255, .5);
  padding: 0 100px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.menu img {
  width: 100px;
  /* float: left; */
  /* border:solid #fff; */
}
.menu nav {
  border: solid;
  /* width: 100%; */
  /* display: block; */
  float: right;
  /* background: red; */
}

.menu .brand {
  /* display: block;   */
  /* width: 500px; */
  border: solid #fff;
  /* position: absolute */
}
.menu .brand img {
  border:solid;
}

.menu nav ul:nth-child(1) {
  display: flex;

}
.menu ul li {
  list-style: none;
  border: solid red;
  position: relative;

}
.menu ul li a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 30px 20px;
  border:solid;
}
.menu ul li a:hover {
  background: rgb(25, 143, 78);
  /* color: */
}
.menu ul li:hover .title {
  background:rgb(25, 143, 78);
}
.menu ul li ul {
  display:  block;
  border: solid #000;
  min-width: 250px;
  background: rgba(255, 255, 255, .5);
  position: absolute;
  /* margin-top: 10px; */
  left: 0;
  box-shadow: 0 2px 5px rgba(255, 255, 255, .5);
  padding-top: 5px;
  opacity: 0; 
  visibility: hidden;
  transform: translateY(50px);
}

.menu ul li:hover ul {
  transition: all .5s ease;
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.menu ul li ul li a {
  padding: 10px;
}
