---
layout: 'base.njk'
title: portfolio
style: '/assets/style.css'
---
    <div class="container">
      <div class="navigation">
        <ul>
          <li class="sidebar_link active"><a href="#banner" style="--i: 1;">Home</a></li>
          <li class="sidebar_link "><a href="#about" style="--i: 2;">About</a></li>
          <li class="sidebar_link "><a href="#services" style="--i: 3;">Services</a></li>
          <li class="sidebar_link "><a href="#projects" style="--i: 4;">Projects</a></li>
          <li class="sidebar_link "><a href="#testimonials" style="--i: 5;">Testimonials</a></li>
          <li class="sidebar_link "><a href="#contact" style="--i: 6;">Contact</a></li>
        </ul>
      </div> 
      <div class="main">
        <div class="topbar">
          <a href="#" class="logo">Portfolio</a>
          <div class="toggle">
            <i class="fas fa-bars"></i>
          </div>
        </div>

        <!-- banner -->
        <section class="banner" id="banner">
          <div class="content">
            <div class="imgBx">
              <img src="./assets/images/me.jfif" alt="" />
            </div>
            <h3 class="name">Mohamed BEN KHOUYA</h3>
            <p class="iam">I'm a Creative Full Stack Developer.</p>
            <a href="./assets/Mohamed_BEN KHOUYA_CV.pdf" class="btn" download
              >Download My CV</a
            >
            <ul class="socialMedia">
              <li>
                <a href="https://www.facebook.com/profile.php?id=100005677413989"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/medBENKHOUYA"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/mohamed-ben-khouya/"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </section>

        <!-- About -->
        <section class="about adjust" id="about">
          <div class="title">
            <h2>About Me</h2>
          </div>
          <div class="content">
            <div class="imgBox">
              <img src="./assets/images/meWithSoufiane.jpeg" alt="">
            </div>
            <div class="textBox">
              <p>
                Bonjour, étant actuellement en troisième année en école 
                d'ingénieurs du littoral en informatique à Calais(62100), 
                je suis à la recherche d'un stage de presque 6 mois afin 
                de participer dans un projet qui me permettra de me mettre 
                réellement à l'épreuve.
                <br> <br> 
                Je suis passionné par le développement web que ce soit le Front 
                ou le back. Je suis beaucoup plus axé sur le PHP/Symfony et le 
                Javascript/React Js et Le CSS3 aussi bien le native que le Sass.
                <br>
                Le dépoilement des applications dans le cloud également, AWS, netlify, herroku et 
                Google Cloud pour le K8S.
                <br><br>
                Le Réseau m'intéresse également, j'ai l'habitude de travailler 
                avec le Wireshark et le host-based-firewall de microsoft. 
                <br><br>
                je fais toujours attention à écrire mon code en utilisant des promises et en créant des Error objects et les traiter avec les handlers.
                <br><br>
                J'aime apprendre de nouvelles choses et je suis autodidacte et débrouillard tout en étant
                dans une bonne ambiance.
              </p>
            </div>
            
        </section>

        <!-- services -->
        <section class="services adjust" id="services">
          <div class="title">
            <h2>Outils</h2>
            <p>Ceux-ci se sont tous les services dont je suis à l'aise avec: </p>
          </div>
          <div class="content">
            
          </div>
        </section>
          <!-- Projects -->
        <section class="projects adjust" id="projects">
          <div class="title">
            <h2>My Projects</h2>
            <p>Ici, je présente quelques projets que j'ai pu réalisé: </p>
          </div>
          <div class="content">
           
          </div>
        </section>

        <!-- Testimonials -->
        <section class="testimonials adjust" id="testimonials">
          <div class="title">
            <h2>Témoignages</h2>
            <p>Queques amis ont pris le temps de me témoigner: </p>
          </div>
          <div class="content">
              <div class="testimonialsBox">
                <div class="imgBox">
                  <img src="./assets/images/user1.jpg" alt="">
                </div>
                <p>Mohamed BEN KHOUYA est Quelqu'un de travailleur, persévérant et plein d'énergie. Il aime taquiner et rigoler. Nous avons fait 2 années ensemble à l'école, je ne peux qu'approuver son mérite.</p>
                <div class="temoin">
                    <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                  <h4>Erick<br><span>WebsiteDesigner</span></h4>
                </div>
              </div>
              <div class="testimonialsBox">
                <div class="imgBox">
                  <img src="./assets/images/user2.jpg" alt="">
                </div>
                <p>Il est intéligent, Il aime bosser et inventer des nouvelles choses. </p>
                <div class="temoin">
                    <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                  <h4>Erick<br><span>WebsiteDesigner</span></h4>
                </div>
              </div>
              <div class="testimonialsBox">
                <div class="imgBox">
                  <img src="./assets/images/user3.jpg" alt="">
                </div>
                <p>Je suis satisfait de mon amitié avec Mohamed. Intéligent et capable de tout. Chaque jour il a de nouveautés.</p>
                <div class="temoin">
                  <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                  <h4>Soufiane Ennefar<br><span>Python Js Developper</span></h4>
                </div>
              </div>
              
          </div>
        </section>

        <!-- Contact -->
        <section class="contact adjust" id="contact">
          <div class="title">
            <h2>Contact Me</h2>
            <p>Pas encore fonctionnel ! merci donc de ne pas l'utiliser.<br>Contactez-moi plutôt sur :  <span>mohamed.ben-khouya.elv@eilco-ulco.fr</span></p>
          </div>
          <div class="contactForm">
            <p>mohamed.ben-khouya.elv@eilco-ulco.fr</p>
              <div class="row">
                <input type="text" placeholder="First Name" >
                <input type="text" placeholder="Last Name" >
              </div>
              <div class="row">
                <input type="text" placeholder="Email Address" >
                <input  type="text" placeholder="Mobile No." >
              </div>
              <div class="row2">
                <textarea placeholder="Message" ></textarea>
              </div>
              <div class="row3">
                <input type="submit" value="Send" >
              </div>
          </div>
        </section>

        <!-- copyright Text -->
        <div class="copyright"> 
          <p>Copyright &copy; 2021 Med BEN KHOUYA</p>
        </div>
      </div>
    </div>

    
    <script src="./index.js"></script>
 
