*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #fff;
}

.navigation {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 70px;
  /* box-sizing: initial; */
  border-radius: 10px;
  /* border-left: 5px solid #4d5bf9; */
  background: #4d5bf9;
  transition: width .5s ease-in-out;
  overflow: hidden;
}
.navigation.active {
  width: 300px;
}
.navigationul {
  /* border: solid; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigationul .list {
  list-style: none;
  position: relative;
  /* width: 100%; */
  border-radius: 20px 0 0 20px;
  /* border: solid; */
}
.list > b{
  /* border: solid; */
  position: absolute;
  height: 20px;
  width: 100%;
  background: #fff;
}
.list > b::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5bf9;
}
.list b:nth-child(1) {
  top: -20px;
  display: none;
}
.list b:nth-child(2) {
  bottom: -20px;
  display: none;
}
.list b:nth-child(1)::before {
  border-radius: 0 0 20px 0;
}
.list b:nth-child(2)::before {
  border-radius: 0 20px 0 0;
}


.list.active {
  background: #fff;
}
.list.active b {
  display: block;
}

.list a {
  text-decoration: none;
  /* border: solid red; */
  /* position: relative; */
  width: 100%;
  display: flex;
  color: #fff;
}
.list.active a {
  color: #000;
}
.list .icon {
  /* position: relative; */
  /* display: block; */
  min-width: 60px;
  height: 60px;
  /* line-height: 70px; */
  text-align: center;
  /* border: solid; */
  display: grid;
  place-items: center;
}
.list .icon ion-icon {
  /* border: solid; */
  font-size: 1.5em;
}
.list.active .icon ion-icon {
  font-weight: 900;
  font-size: 2em;
}

.list .title {
  /* border: solid ; */
  /* position: relative; */
  padding-left: 10px;
  display: block;
  /* line-height: 60px; */
  white-space: nowrap;
  display: grid;
  place-items: center;

}
.list.active .title {
  font-weight: 800;
}

.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #4d5bf9;
  border-radius: 10px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.toggle > * {
  position: absolute;
  font-size: 3rem;
  color: #fff;
}
.toggle.active .close,
.toggle .menu {
  display: block;
}
.toggle.active .menu,
.toggle .close {
  display: none;
}


